
default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  password: <%= Rails.application.credentials.db_password %>

development:
  <<: *default
  database: mind_app
  username: postgres
  host: ''

test:
  <<: *default
  database: mind_app
  username: postgres
  host: ''

production:
  <<: *default
  database: mind_app
  username: postgres
  password: <%= ENV['MIND_APP_DATABASE_PASSWORD'] %>
  host: ''
